form {
    display: flex;
    flex-direction: column;
}

.div-message {
    width: 90%;
}

.card-form {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.box {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (min-width: 740px) {
    .div-message {
        display: flex;
        width: 900px;
    }

    .div-form {
        width: 300px;
        margin: 15px 30px;
    }

    .card-form {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 0;
    }

    .box {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-top-right-radius: 0;
    }
}